<div class="tasklist-wrapper">
    <h1>Tasklist</h1>
    <div class="tasklist">
        <div class="tasklist-item" *ngFor="let task of tasklist">
            <input 
                aria-label="complete task"
                name="checkbox"
                (click)="toggleCompleted(task)"
                class="tasklist-item__checkbox" 
                type="checkbox" 
                [checked]="task.completed"/> 
            <div class="tasklist-item__name" [class.tasklist-item-completed]="task.completed"> 
                {{task.name}} 
            </div>
            <i 
                aria-label="delete task"
                (keydown)="onKeyDown($event, task.id)"
                tabindex=0
                (click)="onDelete(task.id)" 
                class="tasklist-item__delete material-icons-outlined">
                close
            </i>
        </div>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input 
            aria-label="add task"
            ngModel 
            #textField="ngModel" 
            id="task"
            name="task" 
            type="text" 
            required />
        <button class="tasklist-add" type="submit">Add</button>
    </form>
</div>