<div class="tasklist-wrapper">
    <h1>Tasklist</h1>
    <div class="tasklist">
        <div class="tasklist-item" *ngFor="let task of tasklist">
            <input class="tasklist-item__checkbox" type="checkbox" /> 
            <div> {{task.name}} </div>
            <i (click)="onDelete(task.id)" class="tasklist-item__delete material-icons-outlined">close</i>
        </div>
    </div>
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input 
            ngModel 
            #textField="ngModel" 
            name="task" 
            type="text" 
            required />
        <button class="tasklist-add" type="submit">Add</button>
    </form>
</div>