@import 'src/styles.scss';

.tasklist {
    &-wrapper {
        background: rgba(0,0,0,0.5);
        backdrop-filter: saturate(120%) blur(10px);
        border-radius: 25px;
        padding: 45px;
        color: $text-color;
        min-width: 500px;
        min-height: 300px; 
    }

    &-title {
        font-size: 48px;
    }

    &-list {
        margin: 30px 0 45px;
        max-height: 450px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }

        &-item {
            display: flex;
            font-weight: bold;
            justify-content: space-between;
            font-size: 30px;
        
            &__checkbox {
                width: 25px;
                accent-color: #d2cdff;
            }
        
            &__name {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 320px;
            }
        
            &__delete {
                cursor: pointer;
                align-self: center;
            }
        
            &-completed {
                text-decoration: line-through;
            }
        }
    }

    &-input {
        border: 0;
        outline: 0;
        background: transparent;
        border-bottom: 1px solid white;
        font-family: 'Poppins', sans-serif;
    }

    &-add {
        border: white 2px solid;
        background: transparent;
        color: $text-color;
        padding: 10px 20px;
        border-radius: 50px;
        font-size: 25px;
        cursor: pointer;
        margin-left: 20px;

        &:hover {
            color: black;
            background: linear-gradient(45deg, #a2ffff, #ffbdde);
        }
    }
} 

input, select, textarea{
    color: $text-color;
    font-size: 30px;
}


@media (max-height: 1100px) {
    .tasklist {
        &-wrapper {
            padding: 25px;
            min-width: 430px;
            max-width: 430px;
            max-height: 400px;
        }

        &-title {
            font-size: 20px;
        }

        &-list {
            margin: 30px 0 45px;
            max-height: 200px;
    
            &-item {
                font-size: 20px;
            
                &__checkbox {
                    width: 10px;
                }
            
                &__name {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    max-width: 200px;
                }
            }
        }

        &-input {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid white;
            font-family: 'Poppins', sans-serif;
        }
    
        &-add {
            padding: 10px;
            border-radius: 50px;
            font-size: 15px;
            cursor: pointer;
            margin-left: 20px;
        }
    
    }



}