<div class="wrapper">
  <div class="section-top">
    <div *ngIf="isLoadingWeather;else weatherWidget">
      <div class="weather-loading-spinner"></div>
    </div>
    <ng-template #weatherWidget>
      <div class="weather-wrapper"> 
        <div>
          <span [ngSwitch]="weatherData.weatherType">
            <i *ngSwitchCase="WeatherType.clouds" class="material-icons-outlined">cloud</i>
            <i *ngSwitchCase="WeatherType.rain" class="material-icons-outlined">rainy</i>
            <i *ngSwitchCase="WeatherType.sun" class="material-icons-outlined">sunny</i>
            <i *ngSwitchCase="WeatherType.snow" class="material-icons-outlined">Ac unit</i>
            <i *ngSwitchDefault class="material-icons-outlined">cloud</i>
          </span>
          <div class="weather-temp">
            {{weatherData.cityTemperature}}
            <span *ngIf="weatherData">&#176;</span>
          </div>
        </div> 
        <div class="weather-city">{{weatherData.cityName}}</div>
      </div>
    </ng-template>
    <h1>{{ dateTime | async | date:'hh:mm' }}</h1>
    <h2>{{ dateTime | async | date:'MMMM d, y' }}</h2>
  </div>

  <div class="section-middle">
    <router-outlet></router-outlet>
  </div>

  <div class="section-bottom">
    <tabs></tabs>
  </div>
</div>