.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: aqua;
}

.top-section {
    padding: 100px 0;

    h1 {
        font-size: 120px;
        font-weight: bold;
        color: red;
    }

    h2 {
        font-size: 28px;
        color: white; 
        text-shadow: 0px 1px 4px rgba(black, 0.1);
    }
}

.content-section {
    flex-grow: 1;
}