/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css?family=Material+Icons+Outlined"); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

$text-color: #f7f5f5;

html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    color: $text-color;
    min-height: 100vh;
}

button {
  font-family: 'Poppins', sans-serif;
}